In [1]:
import pandas as pd

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv',parse_dates = ["datetime"])
print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
train["sharetime"] = train["datetime"].dt.hour

print(train.shape)
train[["datetime", "sharetime"]].head()
train.head()

(10886, 13)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,sharetime
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4

In [4]:
# share_time = train["datetime"].dt.hour

# # pd.concat(['train', 'share_time'], axis=1)
# share_time

In [5]:
test = pd.read_csv('test.csv', parse_dates = ["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [6]:
train['diff_temp'] = train["temp"] - train["atemp"]
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,sharetime,diff_temp
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0,-4.555
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,-4.615
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2,-4.615
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3,-4.555
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4,-4.555

In [7]:
test["sharetime"] = test["datetime"].dt.hour

print(test.shape)
test[["datetime", "sharetime"]].head()
test.head()

test['diff_temp'] = test["temp"] - test["atemp"]
test.head()

(6493, 10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,sharetime,diff_temp
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,0,-0.705
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,-2.975
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2,-2.975
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,-2.220
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,4,-2.220

## Train

In [8]:
# train[["temp", "atemp"]]
# diff_temp = train['temp'] - train['atemp']
# pd.concat([train, diff_temp], axis=1, names='diff_temp')

In [9]:
#season -> holiday workingday weather temp atemp humidity windspe

feature_names = ["sharetime", "holiday", "workingday", "weather", "humidity", "windspeed", 'temp']

X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 7)

   sharetime  holiday  workingday  weather  humidity  windspeed  temp
0          0        0           0        1        81        0.0  9.84
1          1        0           0        1        80        0.0  9.02
2          2        0           0        1        80        0.0  9.02
3          3        0           0        1        75        0.0  9.84
4          4        0           0        1        75        0.0  9.84

In [10]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 7)

   sharetime  holiday  workingday  weather  humidity  windspeed   temp
0          0        0           1        1        56    26.0027  10.66
1          1        0           1        1        56     0.0000  10.66
2          2        0           1        1        56     0.0000  10.66
3          3        0           1        1        56    11.0014  10.66
4          4        0           1        1        56    11.0014  10.66

In [20]:
label_name_1= "registered"
label_name_2 = "casual"
label = ["casual","registered","count"]
y_train_1 = train[label_name_1]
y_train_2 = train[label_name_2]
y_train_1.head()
y_train_2.head()

0    3
1    8
2    5
3    3
4    0
Name: casual, dtype: int64

In [21]:
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(random_state=31)
model_2 = RandomForestRegressor(random_state=31)

model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=31,
           verbose=0, warm_start=False)

## Score

In [13]:
import numpy as np
from sklearn.metrics import make_scorer

def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict +1)
    log_actual = np.log(actual +1)
    
    difference = log_predict - log_actual
    difference = np.square(difference)
    
    mean_difference = difference.mean()
    
    score = np.sqrt(mean_difference)
    
    return score

rmsle_scorer = make_scorer(rmsle)
rmsle_scorer

make_scorer(rmsle)

In [14]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=31,
           verbose=0, warm_start=False)

In [15]:
predictions_1 = model.predict(X_test_1)

print(predictions.shape)
predictions

(6493,)

array([ 17.5       ,   5.2       ,   5.3       , ...,  90.8       ,
        92.7       ,  56.93333333])

In [16]:
from sklearn.cross_validation import cross_val_score

score = cross_val_score(model, X_train, y_train, cv = 30, scoring=rmsle_scorer).mean()

# score = -1.0 * score

print("Score = {0:.5f}".format(score))

/Users/Philip/.pyenv/versions/3.5.2/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Score = 0.48707

In [17]:
Score = 0.47820

In [18]:
submission = pd.read_csv("sampleSubmission.csv")
submission["count"]= predictions

print(submission.shape)
submission.head()

(6493, 2)

              datetime   count
0  2011-01-20 00:00:00  17.500
1  2011-01-20 01:00:00   5.200
2  2011-01-20 02:00:00   5.300
3  2011-01-20 03:00:00   4.725
4  2011-01-20 04:00:00   2.525

In [19]:
submission.to_csv("baseline-script.csv", index=False)